<div style="border-color: white;" class="border-top my-4"></div>
<footer class="inset">
    <div class="row row-cols-5">
        <!-- <div class="col"> -->
            <a class="navbar-brand mx-5" href="/">
                <div class="row">
                  <img src="/assets/images/Icon.png" width="90" height="90" class="d-inline-block align-top" alt="Scrillionaire">
                  <div class="col">
                    <h1>Scrillionaire</h1>
                    <p class="text-muted">AI Financial Services</p>
                  </div>
                </div>
              </a>
        <!-- </div> -->
        <div class="col"></div>
        <div class="col-2">
            <h5>Resources</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted"><small>Home</small></a></li>
                {% for item in site.data.navigation %}
                <li class="nav-item mb-2"><a href="{{ item.link }}" class="nav-link p-0 text-muted"><small>{{ item.name }}</small></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-2">
            <h5>Waitlist</h5>
            <ul class="nav flex-column">
                <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="modal"
                data-target="#waitlistModal">{{ site.email_signup_cta }}</button>
            </ul>
        </div>
        <div class="col-2">
            <h5>Company</h5>
            <ul class="nav flex-column">
                {% for item in site.data.footer %}
                <li class="nav-item mb-2"><a href="{{ item.link }}" class="nav-link p-0 text-muted"><small>{{ item.name }}</small></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    
    <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p><small class="text-muted">© 2024 MomentumIQ, Inc. All rights reserved.</small></p>
        <p><small class="text-muted">Made with 🌲🌲🌲 in Cascadia</small></p>
    </div>
</footer>