<nav class="navbar navbar-expand-lg navbar-dark sticky-top inset">
  <a class="navbar-brand mx-3" href="/">
    <div class="row">
      <img src="/assets/images/Icon.png" width="50" height="50" class="d-inline-block align-top" alt="Scrillionaire">
      <div class="col">
        Scrillionaire
      <h6><small class="text-muted">AI Financial Services</small></h6>
      </div>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% for item in site.data.navigation %}
        <a class="nav-item nav-link active" href="{{ item.link }}">
          {{ item.name }} 
          {% if page.url == item.link %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#waitlistModal">{{ site.email_signup_cta }}</button>
  </div>
</nav>