---
layout: default
---
<div class="jumbotron inset">
	<div class="container">
		<h1 class="display-1">{{ page.title }}</h1>
		<h5 class="text-muted">{{ content }}</h5>
	</div>
</div>
<div class="inset">
	<div class="row">
		<div class="col font-weight-bold">
			<div class="row">
				<h3><i class="bi-megaphone"></i></h3>
				<div class="mx-1"></div>
				<div>
					<h3>Holler at Us</h3>
					<a href="tel:571-306-2607">
						+1 (571) 306-2607
					</a>
				</div>
			</div>
			<div class="mx-5"></div>
			<div class="row">
				<h3><i class="bi-mailbox"></i></h3>
				<div class="mx-1"></div>
				<div>
					<h3>Shoot us an email</h3>
					<a href="mailto:Contact@MomentumIQ.ai">
						Contact@MomentumIQ.ai
					</a>
				</div>
			</div>
		</div>
		<div class="border-left mx-4"></div>
		<div class="col">
			<form class="needs-validation" action="{{ site.form_endpoint }}" method="POST" novalidate>
				<div class="modal-header border-0">
					<div class="navbar-brand w-100 font-weight-bold">
						Sign up for the
						<img src="/assets/images/Icon.png" width="30" height="30" class="d-inline-block align-top"
							alt="Scrillionaire">
						Scrillionaire Beta!
					</div>
				</div>
				<div class="modal-body">
					<blockquote class="blockquote">
						<p class="lead">{{ site.email_signup_copy | markdownify }}</p>
					</blockquote>
					<div id="emailHelp" class="form-text text-muted text-center">We'll never share your email with
						anyone else.</div>
					<div class="my-4"></div>
					<input type="text" name="name" class="form-control" id="exampleInputName1"
						aria-describedby="nameHelp" placeholder="What's your name, boss?" required>
					<div class="invalid-feedback">
						Whatchya want us to call ya?
					</div>
					<div class="valid-feedback">
						Sweet name dude!
					</div>
					<div class="my-2"></div>
					<input type="email" name="email" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
						placeholder="What email do you want us to hit you up at?" required>
					<div class="invalid-feedback">
						How am I supposed to send you the invite without an email, chief?
					</div>
					<div class="valid-feedback">
						That's original... litterally, it's unique...
					</div>
					<input type="hidden" id="captchaResponse" name="g-recaptcha-response">
				</div>
				<div class="modal-footer border-0">
					<button type="submit" class="w-100 btn btn-primary btn-lg">Hit me up when it's ready!</button>
				</div>
			</form>
		</div>
	</div>
</div>