---
layout: default
---
<div class="jumbotron inset">
    <div class="container">
        <h1>Scrillionaire's Features are Still a Secret</h1>
        <p class="lead">We're keeping our roadmap and upcoming features under wraps for now but you should sign up for the waitlist so you can be the first to know what we've got for you in the pipeline.</p>
        <hr class="my-4">
        <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="modal" data-target="#waitlistModal">{{ site.email_signup_cta }}</button>
    </div>
    <div class="col">
        <div class="card-header text-left">
            <h1 style="color: white;" class=" display-2 card-title">{{ feature.name }}</h1>
            <h1 class="card-text text-muted">{{ feature.description }}</h1>
        </div>
    </div>
</div>