---
layout: default
---
<div class="jumbotron inset">
    <div class="container">
        <h1>Scrillionaire Feature Roadmap</h1>
        <p class="lead">These are the planned features for Scrillionaire. Not all of these features has an explicit design component but this is an accounting of the features we have decided to add to our Feature List so far.</p>
        <hr class="my-4">
      
        <p>Join the waitlist to find out about new features as they make it onto our roadmap</p>
        <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="modal"
                data-target="#waitlistModal">{{ site.email_signup_cta }}</button>
    </div>
</div>
<div class="inset">
    <div class="container">
        <div class="d-flex  py-4 my-4 inset flex-wrap justify-content-center">
            {% for feature in site.features %}
            <a href="#{{ feature.anchor-name }}">
                <div class="card position-relative shadow text-center mx-2 my-2" style="width: 10em; height: 10em;">  
                    <div class="card-body">
                        <h2><i class="bi bi-{{ feature.icon }}"></i></h2>
                        <h5 style="color: white;" class="card-title">{{ feature.name }}</h5>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% for feature in site.features %}
        <div class="mb-5">
        <div class="card card-body shadow">
            <h1 id="{{ feature.anchor-name }}"><a href="{{ feature.url }}">{{ feature.name }} <i style="color: #74F9B8;" class="bi bi-{{ feature.icon }}"></i></a></h1>
            <h3>{{ feature.description }}</h3>
            <div style="border-color: white;" class="border-top my-4"></div>
            <div class="row">
                <div class="col">
                    <p><b style="color: #74F9B8;">Problem:</b> <em>{{ feature.problem }}</em></p>
                </div>
                <div class="col">
                    <p><b style="color: #74F9B8;">Solution:</b> <em>{{ feature.solution }}</em></p>
                </div>
                <div class="col">
                    <p><b style="color: #74F9B8;">Stretch Feature:</b> <em>{{ feature.stretch_feature }}</em></p>
                </div>
            </div>
        </div>
        </div>
        {% endfor %} 
    </div>
</div>